
@{
    ViewData["Title"] = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center padding-large no-padding-bottom">
    <div class="card w-50">
        <div class="card-header text-center">
            <h3>Đăng Ký</h3>
        </div>
        <div class="card-body">
            <form asp-controller="DiaChi" asp-action="ThemDiaChi">
                <div class="form-group mb-3">
                    <label class="control-label">Email</label>
                    <input class="form-control" placeholder="Vui lòng nhập email" />
                </div>
               
                 <div class="form-group mb-3">
                    <label class="control-label">Số Điện Thoại</label>
                    <input class="form-control" placeholder="Vui lòng nhập SDT" />
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Địa Chỉ</label>
                    <input class="form-control" placeholder="Vui lòng nhập Địa Chỉ" />
                </div>
                 <div class="form-group mb-3">
                    <label class="control-label">Ngày Sinh</label>
                    <input type="date" class="form-control"  />
                </div>
                <div class="form-group mb-3">
                   <label class="control-label">Mật Khẩu</label>
                    <input type="password" class="form-control" placeholder="Vui lòng nhập mật khẩu" />
                </div>
                <div class="form-group mb-3">
                   <label class="control-label">Xác Nhận Mật Khẩu</label>
                    <input type="password" class="form-control" placeholder="Vui lòng xác nhận lại mật khẩu" />
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-md-6 text-end">
                         <a asp-action="DangNhap" class="btn btn-outline-dark">Quay Lại</a>
                        <button class="btn btn-dark w-50">Đăng Ký</button>
                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>

