@model NguoiDung
@{
    ViewData["Title"] = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center padding-large no-padding-bottom">
    <div class="card w-50">
        <div class="card-header text-center">
            <h3>Đăng Nhập</h3>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="DangNhap">
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Vui lòng nhập email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="PassWord" class="control-label">Mật Khẩu</label>
                    <input asp-for="PassWord" type="password" class="form-control" placeholder="Vui lòng nhập mật khẩu" />
                    <span asp-validation-for="PassWord" class="text-danger"></span>
                </div>

                <div class="row d-flex justify-content-end">
                    <div class="col-md-6 text-end">
                       @* <a asp-action="DonHang" class="btn btn-outline-dark">Quản Lý Đơn Hàng</a>
                        <a asp-action="DiaChi" class="btn btn-outline-dark">Sổ Địa Chỉ</a>
                        <a asp-action="Details" class="btn btn-outline-dark">Thông Tin Người Dùng</a>*@
                        <button type="submit" class="btn btn-dark w-50">Đăng Nhập</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center padding-small no-padding-bottom">
                    <a asp-controller="User" asp-action="DangKy" >Bạn chưa có tài khoản? Hãy đăng ký</a>
                </div>
            </form>
        </div>
    </div>
</div>
